*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside{
    background: black;
    color: white;
}
.container{
    display: flex;
}
.sidebar a{
    color: red;
    text-decoration: none;
}
main h1{
    color: red;
}