<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizify</title>
    <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Welcome to Quizify!</h1>
        <p>Test your knowledge with fun quizzes</p>
    </header>
    <div class="buttons">
        <button id="loginBtn"><a href="login.html">Log In</a></button>
        <button id="signupBtn"><a href="SignUp.html">Sign Up</a></button>
    </div>
    <div class="image">
        <!-- Image Placeholder -->
    </div>
</div>
<script src="script.js"></script>
</body>
</html>